body 
{
    background-color: #404040;
    

}

 
  
 .products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    
 }

  .products .box-container .box{
    text-align: center;
    order: 5px;
    box-shadow: var(--box-shadow);
    border: var(--border);
    position: relative;
    padding: 20px;
    background-color: whitesmoke;
    width: 350px;
 }
  .products .box-container .box img {
    height: 250px;
    width: 350px;
    


 }